# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\sterl\Documents\AssignmentsANDLabWork\Lab Work\Year 4\webMapping\webmap_assign1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
